p{
    background-color: rgb(250, 246, 120);
}
a{
    background-color: rgb(234, 180, 180);
}
div{
    background-color: rgb(215, 243, 243);
}
span{
    background-color: rgb(216, 146, 146);
}